* {
    margin: 0;
}

body {
    background: #fff url('https://firebasestorage.googleapis.com/v0/b/raeci0.appspot.com/o/CheckInBg.png?alt=media&token=4f99392f-3ec2-4bf7-b3e9-ec1cd6a7e0c4') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    animation: jiggleBg 6s ease-in-out infinite;
}

@keyframes jiggleBg {
    0% {
        background-position: 0 7px;
    }

    25% {
        background-position: 7px 0;
    }

    50% {
        background-position: 0 -7px;
    }

    75% {
        background-position: -7px 0;
    }

    100% {
        background-position: 0 7px;
    }
}

header {
    color: #000;
    font-size: 50px;
    text-align: center;
    margin-top: 260px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background: #5eba6e;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4fa05b;
}

#changelog {
    cursor: pointer;
    display: inline-block;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-right: 5px;
    width: 200px;
    height: 50px;
    background-color: #3e8e41;
    outline: none;
    color: #fff;
    line-height: 45px;
    font-size: 25px;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 0px 20px 20px 0px;
}

#versionNum {
    margin-top: 5px;
    display: block;
    font-family: Arial;
    font-weight: bolder;
    font-size: 20px;
    background: linear-gradient(180deg, black 50%, #3e8e41 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#raeciLogoHomepage {
    width: 130px;
    height: auto;
}

#logOut {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    width: 200px;
    height: 45px;
    background-color: #3e8e41;
    outline: none;
    color: #fff;
    font-size: 21px;
    border: none;
    border-radius: 20px 0px 0px 20px;
}

.greeting {
    font-size: 33px;
    text-align: center;
    font-weight: 750;
    margin-top: 15px;
}

#counterLogo1 {
    width: 50px;
    height: auto;
    position: absolute;
    margin-left: 4%;
}

#counterNum1 {
    position: absolute;
    margin-left: 5%;
    margin-top: 85px;
    font-size: 30px;
    font-weight: bolder;
}

#counterOneParent {
    margin-top: 20px;
}

#counterLogo2 {
    width: 100px;
    height: auto;
    position: absolute;
}

#counterNum2 {
    margin-right: -55px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bolder;
}

#counterTwoParent {
    margin-top: 110px;
    margin-right: 150px;
    position: absolute;
    top: 0;
    right: 0;
}

.checkin {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#activityDetails {
    width: 480px;
    height: 40px;
    border-radius: 20px 20px 5px 5px;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#checkin-btn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 483px;
    height: 50px;
    margin-top: 10px;
    padding: 15px 50px;
    background-color: #3e8e41;
    outline: none;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#checkinHistory {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    margin-top: 120px;
}

#checkinHistory th {
    background-color: #2f4f4f;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid #ccc;
    text-align: left;
}

#checkinHistory td {
    padding: 0.5rem;
    border: 1px solid #ccc;
    text-align: left;
}

#checkinHistory tr:nth-child(even) {
    background-color: #f2f2f2;
}

#checkinHistory tr:hover {
    background-color: #f5f5f5;
}