@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    background-color: #f2f2f2;
    font-family: 'Comfortaa', cursive;
    background: url('https://firebasestorage.googleapis.com/v0/b/raeci0.appspot.com/o/body-bg.png?alt=media&token=78f2a3bc-4b9e-4b29-936f-9d0a401383b3') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    background: url('https://firebasestorage.googleapis.com/v0/b/raeci0.appspot.com/o/bg.png?alt=media&token=a448244e-5d1c-4efc-9886-7d24b819294a') no-repeat center center fixed;
    background-size: cover;
    width: 80%;
    height: 550px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px 45px 10px 45px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container img {
    width: 150px;
    height: auto;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 30%;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

input[type=password] {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

input[type=password]:hover {
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.4);
    }

    50% {
        box-shadow: 0 0 0 20px rgba(76, 175, 80, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
    }
}

button[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #3e8e41;
}

#error-msg {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}